<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/entry"><i class="fas fa-utensils"></i><p> Entradas</p></a>
      <a mat-list-item routerLink="/meat"><mat-icon>face</mat-icon>Carnes</a>
      <a mat-list-item routerLink="/fish"><i class="fas fa-utensils"></i>Pescados</a>
      <a mat-list-item routerLink="/drink"><i class="fas fa-utensils"></i>Bebidas</a>
      <a mat-list-item routerLink="/dessert"><i class="fas fa-utensils"></i>Postres</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>{{headerTitle}}</span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <app-menu-list></app-menu-list>
  </mat-sidenav-content>
</mat-sidenav-container>
